# Model

from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

## PCA

In [39]:

X_train = pd.read_csv('/home/orangebacked/Documents/applications/ibm-auto-robot/data/X_train.csv')

pca = PCA(.95)

pca.fit(X_train)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,15155,15156,15157,15158,15159,15160,15161,15162,15163,15164
0,0,0,231798688,302095,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,145548576,261360,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,13576560,284398,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,183602632,222742,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,129041360,323466,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3849,3849,0,201364384,212661,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3850,3850,0,61053200,247370,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3851,3851,0,192814608,190613,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3852,3852,0,37218488,304610,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3853,3853,0,38056512,335421,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## loading data sets

In [2]:
X_test = pd.read_csv('/home/orangebacked/Documents/applications/ibm-auto-robot/data/X_test.csv')
y_train = pd.read_csv('/home/orangebacked/Documents/applications/ibm-auto-robot/data/y_train.csv')
y_test = pd.read_csv('/home/orangebacked/Documents/applications/ibm-auto-robot/data/y_test.csv')
y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

## PCA dimensionality reduction

In [22]:
X_train_PCA = pca.transform(X_train)
X_test_PCA = pca.transform(X_test)

## logistic regression

In [30]:
logisticRegr = LogisticRegression(solver = 'lbfgs')
logisticRegr.fit(X_train_PCA, y_train.ravel())

LogisticRegression()

In [32]:
from sklearn.metrics import confusion_matrix
logisticRegr.score(X_test_PCA, y_test.ravel())

0.502854177477945

## confusion matrix

In [41]:
from sklearn.metrics import confusion_matrix
cf_matrix = confusion_matrix(y_test, logisticRegr.predict(X_test_PCA))

pd.DataFrame(cf_matrix)

      0     1
0  1925  1895
1    21    13

## FPR

In [49]:
21/(13+21)

0.6176470588235294

In [ ]:
FNR

In [50]:
1895/(1925 + 1895)

0.49607329842931935